*{
  margin: 0;
}

.main{
  margin: 20px;
  text-align: center;
}

body{
  background-color: aquamen;
}

h1{
  font-size: 35px;
  margin-bottom: 20px;
}

.btn{
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 33px;
  background: black;
  color: white;
}

#notMain{
  display: none;
  text-align: center;
}
