*{
  margin: 0;
}

.round{
  border-radius: 99px;
  background-color: black;
  height: 180px;
  width: 180px;
}

.clock{
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  display: flex;
  height: 180px;
}

.main{
  display: flex;
  margin: 20px;
  height: 450px;
  justify-content: center;
  align-items: center;
}

.color{
  padding-left: 20px;
}

button{
  width: 60px;
  height: 40px;
  position: relative;
  border-radius: 5px;
}

.btn{
  width: 49%;
  height: 40px;
  font-size: 18px;
}

.red{
  background-color: red;
}

.silver{
  background-color: silver;
}

.coral{
  background-color: coral;
}

.burlywood{
  background-color: burlywood;
}

.color h1{
}
