*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: silver;
}

.clock{
  background-color: black;
  padding: 10px 20px;
  display: flex;
  color: white;
  font-size: 30px;
  border: 4px solid black;
}

h1{
  margin: 20px;
}
